nav{
    font-family:inconsolata;
    background-color: #ffab40;
    top:0;
    padding:1%;
    border:none ;
    align-items: center;
    display: flex;
    justify-content: flex-start

}


.MyNavbarLinks {
    display: flex;
    align-items: center;
    gap: 16px; 
}

.MyNavbarLinks a {
    margin: 0;
    padding: 4px 8px;
    text-decoration: none;
    color: black;
    border: 2px solid transparent;

}
.MyNavbarLinks a:hover {
    border: 2px solid black;
}


.MyNavbarLinks a img {
    width: 180px;        
    max-height: 80px;
    border-radius: 25px;
    border: 2px solid transparent;
    padding: 0;
}


.homeText.active {
  font-weight: bold;
}
.portfolioText.active {
  font-weight: bold;
}