main h1 {
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
    font-size: 1.7rem;
    line-height: 1.5;
    color: #333;
    align-self: center;
}
main{
    align-items: center;
}

main .fileUploader {
    align-self: center;
}
