h1 {
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}
p {
    font-family: 'Inconsolata', monospace;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
    color: #666;
}
