@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');


.App {
  text-align: center;
}

body {
    margin: 0;
    padding: 0;
}

main {
    margin: 1%;
    padding: 1%;
    font-family: inconsolata;
    color: black;

}

span {
  color: #ffab40;
}
u{
  text-decoration: underline;
}

a{
  color: #ffab40;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 2px;
}

a:hover {
  border: 2px solid #ffab40;
  border-radius: 5px;
  padding: 2px;
}

main h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

main h2 {
  font-size: 1.5rem;
}

.App-header {
  background-color: #ffab40;
  color: white;
}

.inconsolata-custom {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}


.pillarContainer {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
}

.pillar{
  flex: 1;
  margin: 0 1rem;
  padding: 1rem;
  border: 1px solid #ffab40;
  border-radius: 15px;
  background-color: white;
  text-align: center;
  transition: transform 0.2s;

}
.pillar h2 {
  color: #ffab40;
}
.pillar:hover {
  transform: scale(1.05);
  h2 {
    color: #FC0434;
  }
  border-color: #FC0434;

}


.pillar p{
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
}

.hero-image {
  background-image: url('../public/graph-up.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 20px;
  color: #1c1c1c; /* or white if the image is dark */
  text-align: center;
  position: relative;
  border-radius: 15px;
}

.hero-image .overlay h1{
  font-size: 3rem;
  font-weight: bold;
}
#big-signup-link{
  background-color: #ffab40;
  color: white;
  border: none;
  padding: 5px;
  display: inline-block;
  transition: transform 0.2s;
}

#big-signup-link:hover{
  background-color: #FC0434;
  color: white;
  transform: scale(1.1);
}
